.title {
  font-size: clamp(1.8rem, 2vw, 2rem);
  font-weight: 600;
  margin-bottom: 0;
}

.progressStat {
  font-size: clamp(0.8rem, 2vw, 1rem);
  text-wrap: nowrap;
}

.subTxt {
  margin-bottom: 0;
  color: #475467;
}

.btnStyle {
  background: var(--primary-btn) !important;
  /* color: #000000; */
  font-size: 16px;
}

.compaign {
  font-size: clamp(1.2rem, 2vw, 1rem);
  margin-bottom: 0;
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.cardContainer {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border: 1px solid #dee2e6;
  border-radius: 24px;
  cursor: pointer;
}

.cardTextContainer {
  width: 75%;
  padding: 15px 20px;
  border-radius: 24px 0 0 24px;
  background: var(--primary-bg);
}

.titleTxt {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.cardTextContainer p {
  margin-bottom: 0;
}

.cardTxt {
  font-size: clamp(1rem, 3vw, 1.2rem);
  width: 75%;
  height: 90px;
  font-weight: bold;
  line-height: 1.1;
}

.cardTxt2 {
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: bold;
  line-height: 1.1;
}

.projectId {
  font-size: clamp(0.5rem, 2vw, 0.7rem);
}

.projectIdTxt {
  letter-spacing: 2px;
  font-size: clamp(0.8rem, 1.7vw, 1rem);
}

.cardImg {
  border-radius: 0 24px 24px 0;
  width: 25%;
  height: 240px;
}

.perc {
  color: #344054;
  margin-bottom: 0;
}

.amount {
  color: #475467;
  margin-bottom: 0;
  font-weight: 600;
}

.curs {
  cursor: pointer;
  padding: 2px;
}

.curs:hover {
  cursor: pointer;
  background: #ececec;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.listText {
  color: #475467;
  font-size: 13px;
  margin-bottom: 0;
}

.listValue {
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 1.8rem);
  margin-bottom: 0;
}

.listViews {
  color: #2563eb;
  font-size: clamp(0.6rem, 2vw, 0.9rem);
  cursor: pointer;
}

.personName {
  margin-bottom: 0;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}

.personArea {
  color: #475467;
  margin-bottom: 0;
  font-size: clamp(0.67rem, 1.7vw, 0.8rem);
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important; */
}

.personAmount {
  color: #65a30d;
  margin-bottom: 0;
  margin-top: 4px;
}
